

body{
    
    font-family: 'Bebas Neue' ;
    background-color: chocolate;
    background-image: linear-gradient(90deg, rgb(7, 70, 10) 0%, rgba(103, 182, 39, 0.8));
}

.btn, .btn-primary{

    display: block;

}
.button{
    cursor: pointer;
    font-family: 'Bebas Neue';
    font-size: 2em;
    height:3rem;
    width:15rem;
    background-color: orange;
    border:0px;
    border-radius: 30px;
    box-shadow: 5px 3px 3px;
}

.full{
    height: 100vh;
}

.container--flex{
    display:flex;
    flex-direction: column;
    
}

.container--wrap{
    color:var(--bs-body-color);
    
    display:flex;
    flex-direction: column;
    flex: 0 0 0;
}
.container--name{
    max-width:100%;
    display:flex;
    margin:3em 15em 3em 15em;
    justify-content: space-evenly;
    align-items: center;
}

#name1, #name2{
    border-radius: 30px;
    
}

#los{
    
    
    display:inline-block;
    
}
.spieler1, .spieler2{
        
    display:flex;
    flex-direction: column;
    align-items: center;
    

}

.ausgabe1, .ausgabe2 {
    color:var(--bs-body-color);
    min-height:100px;
    
    font-size: 5em;
    justify-content: center;
    margin-top: 20%;
    
}

.ausgabe3{
    color:var(--bs-body-color);
    margin:0em 15em 3em 15em;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-grow: 0;
}

.mitte, .links, .rechts {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

#counter-label1, #counter-label2{
        text-align: center;
    font-size: 15em;
}



.mitte{
    justify-content: space-evenly;
}


#arrow{
    padding-bottom:2em;
    margin:0 0 5% 0;
}
.arrow-left{
    transform: scaleX(-1);
    
}
.arrow-right{
    transform: scaleX(1);
    
}

#seitenwechsel{
    display:none;
}